#   Github Ignores these files (https://help.github.com/articles/ignoring-files/) for more about ignoring files.


# Environment Variables
frontend/.env*
backend/.env*
*.env*
!.env.example

# Editor directories and files
.vscode/*

!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
*.production
*.tsbuildinfo

#   frontend related files & folders
frontend/assets
frontend/build
frontend/src/assets
frontend/node_modules

# Nuxt dev/build outputs
frontend/dist
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/.output
frontend/package-lock.json

#   TinaCMS outputs
frontend/.gitkeep.md
frontend/public/admin
frontend/.gitkeep.json
frontend/tina/__generated__/

# Local Netlify folder
frontend/.netlify

#   Backend related files & folders


#   Backend directories
backend/.logs
backend/.venv
backend/__pycache__
backend/tests/assets
backend/.pytest_cache
backend/flask_session
backend/tests/.pytest_cache

