#   Github Ignores these files (https://help.github.com/articles/ignoring-files/) for more about ignoring files.

# misc folders and files
*.env

# Editor directories and files
.vscode/*
.venv/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
*.production
*.tsbuildinfo

#   frontend related files & folders

#   Frontend dicrectories
vueClient
frontend/assets
frontend/build
frontend/src/assets
frontend/node_modules
frontend/public/admin
frontend/tina/__generated__/

frontend/docs/.vitepress/cache

#   Frontend files
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/package-lock.json

#   Backend related files & folders

#   Backend directories
__pycache__
tests/assets/
.pytest_cache/
flask_session/
tests/.pytest_cache/


#   Backend Files
.logs
dist
build
coverage

node_modules
.env
# Local Netlify folder
.netlify
