//  Index file for the main SASS styles of the frontend Elements styles
@use './colors/colors' as color
@use './utils/mixins' as mix

@forward './views/dev'
@forward './utils/cards'
@forward './utils/icons'
@forward './utils/article'
@forward './utils/buttons'
@forward './utils/flexbox'
@forward './utils/timeline'
@forward './views/portfolio'
@forward './utils/navigation'
@forward './utils/components'
@forward './utils/tech-content'
@forward './utils/grid-container'



// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')

*, *::before, *::after
    box-sizing: border-box
    writing-mode: horizontal-tb

body
    @include mix.font-style('Nunito')
    @include mix.background-style(color.$off-white, color.$dark-grey)

    h1, h2, h3, h4, h5, h6
        text-align: center
        margin: 0.5em auto

footer
    padding: 1vw
    margin: 1vw auto

figure
    max-inline-size: 28em
    margin: 1em auto
    figcaption
        margin-top: 0.5em
        text-align: center
        font-style: italic
        font-size: 0.9em

    img
        inline-size: 100%
        border-radius: .5em


nav.some-bar
    ul.some-ul
        margin: auto
        max-inline-size: 30em
        list-style-type: none

    li.some-li
        margin: 0.5em 0
        display: inline
        list-style: none
    
    max-inline-size: 100%
