//  Index file for the main SASS styles of the frontend Elements styles
@use './utils/mixins' as mix
@use './colors/colors' as color
@forward './utils/icons'
@forward './utils/buttons'
@forward './utils/flexbox'
@forward './utils/academic'
@forward './utils/navigation'

//  Importing bootstrap for the project
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")

*
    box-sizing: border-box
    writing-mode: horizontal-tb

body
    @include mix.theme-color

footer
    padding: 1vw
    margin: 1vw auto
