@use 'sass:map'
@use './mappings' as mapping
@use '../colors/colors' as color
@use '../mappings/flexbox' as flexbox-mapping
@use '../mappings/devices-breakpoints' as Devices



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")

@mixin media-queries ($size: null, $breakpoint: null)

    @if $size == 'prefers-color-scheme'
        @media (prefers-color-scheme: dark)
            @content

    @if $size == null and $breakpoint != null
        $block-size: map.get(Devices.$devices, $breakpoint, 'block-size')
        $inline-size: map.get(Devices.$devices, $breakpoint, 'inline-size')

        @media screen and ($inline-size <= width <= $inline-size + 50px ) and (min-height: $block-size) and (orientation: portrait)
            @content

        @media screen and ($block-size <= height <= $block-size + 50px) and (min-width: $inline-size) and (orientation: landscape)
            @content

    @else if $size != null and $breakpoint == null
        $size: map.get(Devices.$breakpoints, $size)

    @media screen and (min-width: $size)
        @content

@mixin theme-color()

    color: color.$secondary
    background-color: color.$primary

    h1,h2,h3,h4,h5,h6
        color: color.$secondary
        @include font-style('Work Sans')

    button
        cursor: pointer
        @include font-style('Roboto')

    .component
        color: color.$primary
        background-color: color.$secondary

@mixin component-color($color: color.$primary, $background-color: color.$secondary)

    h1, h2, h3, h4, h5, h6
        color: $color
        @include font-style('Work Sans')
    p
        color: $color
        @include font-style('Roboto')

    color: $color
    //border-radius: 0.5em
    background-color: $background-color
    
@mixin font-style($font, $family: null)

    $roboto: 'Roboto'
    $work-sans: 'Work Sans'

    @if $family == null and $font == $roboto or $font == $work-sans
        $family : sans-serif

    font-family: $font, $family

@mixin link-styles($link-color: null, $link-hover-color: null, $link-active-color: null, $link-visited-color: null)

    @if $link-color == null
        $link-color: color.$link-color

    @if $link-hover-color == null
        $link-hover-color: color.$link-hover-color

    @if $link-active-color == null
        $link-active-color: color.$link-active-color

    @if $link-visited-color == null
        $link-visited-color: color.$link-visited-color
    a
        color: $link-color
        text-decoration: none
        transition: 0.3s ease-in-out
    
        [aria-disabled='true']
            cursor: not-allowed
            color: color.$link-disabled-color
            
        &:hover
            color: $link-hover-color

        &:active
            color: $link-active-color

        &:visited
            color: $link-visited-color

@mixin transitions($property: null, $duration: nulls, $timing-function: null)

    @if $property == null
        $property: all
    
    @if $timing-function == null
        $timing-function: ease-in-out

    @if $duration == null
        $duration: 0.3s

    transition: $property $duration $timing-function
    -o-transition: $property $duration $timing-function
    -moz-transition: $property $duration $timing-function
    -webkit-transition: $property $duration $timing-function


@mixin flexbox-generator($flexbox-type)
    
    $props: map.get(flexbox-mapping.$flexbox, $flexbox-type)

    @if $props
        @each $property, $value in $props
            #{$property}: $value
    @else
        @error '"#{$flexbox-type}" not found in flexbox mapping.'
