@use './mixins' as mix
@use '../colors/colors' as color

@include mix.tech-generator()

.tech-container
    p
        @include mix.tech-generator()
               
        span
            span
                @include mix.circle-border()
            margin-inline: .3em


        margin:.5em
        

    .tech-figure
        margin: 0
        max-inline-size: 3em

        .tech-img
            inline-size: 100%
            block-size: auto