//  Colors for the web application
@forward './misc'
@forward './palette'
@forward './tech-color'
@forward './social-colors'


//  Color pallette Light

$dark-grey: rgb(64, 64, 64)

$white: rgb(245, 245, 245)
$soft-white: rgb(244, 246, 249)
$off-white: rgb(252, 252, 252)

$light-blue: rgb(52, 152, 216)
$deep-midnight-blue: rgb(29, 46, 84)

$sea-green: rgb(95, 158, 160)

$light-orange: rgb(231, 113, 125)
$dark-orange: rgb(204, 85, 102)