//  Colour variables for the website.

//  Color pallette Light 
$acent-3: rgb(0, 71, 171)
$secondary: rgb(64, 64, 64)
$acent-4: rgb(255, 119, 119)
$primary: rgb(255, 255, 255)
$acent-1: rgb(123, 104, 238)
$acent-2: rgb(230, 230, 250)

