//  Sass Sheet for tech colors

$webapp: rgba(255, 99, 71, 0.8)
$webapp-light: rgba(255, 99, 71, 0.6)

//  Theme color  | Compiled language
$compiled: rgba(238, 140, 43, 1)
$compiled-light: rgba(238, 177, 138, 1)
$c: rgb(168, 185, 204)
$Cplus: rgb(0, 89, 156)

//  Theme colors | Interpreted language
$GO-Teal: rgb(0, 173, 216)

$Microsoft-Green: rgb(23, 134, 0)
$Cyan-Blue-Azure: rgb(55, 118, 171)
$TypeScript-blue : rgb(81, 43, 212)
$Microsoft-purple: rgb(81, 43, 212)


//  Theme colors | Database
$db: rgba(204, 41, 39, .8)
$db-light: rgba(255, 0, 0, .6)

//  Theme colors | WorkFlow
$workflow: rgba(110, 147, 171, 1)
$workflow-light: rgba(0, 191, 255, 0.6)
